label.custom-range {
	position: relative;
	margin: auto;
	display: inline-block;
	width: 50%;
}

/* BACKGROUND BLOCKS */
label.custom-range>div{
	position: absolute;
	left : 0px;

	height: 30px;
	width: 100%;

	white-space: nowrap;
	font-size: 0px;
	overflow: hidden;
	border-radius: 15px;
	border : 1px solid rgb(100,100,100);
}
label.custom-range>div>div{
	display: inline-block;
	height: 100%;
	width: 24.7%;
}
label.custom-range>div>div:nth-child(2n){
	border-left : 1px solid rgb(100,100,100);
	border-right : 1px solid rgb(100,100,100);
}
label.custom-range>div>div.active{
	background-color: rgb(200,200,200);
}

label.custom-range input[type=range] {
	border : 0;
	-webkit-appearance: none;
	background-color: transparent;

	width: 100%;
	padding: 0px;
	margin : 0px;
}
label.custom-range input[type=range]:focus{
	outline:none;
}

/* CURSOR */
label.custom-range input[type=range]::-webkit-slider-thumb {
	position:relative;
	-webkit-appearance: none;
	cursor:pointer;
	background-color: transparent;
	width: 12px;
	height: 30px;
}

label.custom-range input[type=range]::-webkit-slider-thumb:before{
	content: "";
	position: absolute;
	
	top: -5px;
	height: 40px;
	width: 12px;

	background-color: rgb(150,150,150);
	border-radius: 6px;
}